<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<context:annotation-config />
	
	<!-- 注入Services -->
	<context:component-scan base-package="com.web.app.*" />
	
	<!-- 数据库连接配置 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:jdbc.properties</value>
		</property>
	</bean>
	
	<!-- 获取数据源 --> 
	<bean id="dataSource"	class="org.apache.commons.dbcp.BasicDataSource"	destroy-method="close">				
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
		<property name="url" value="${jdbc.url}" />			
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxActive" value="20"/>
        <property name="minIdle" value="8"/>
        <property name="maxIdle" value="5"/>
        <property name="maxWait" value="9000"/>
        <property name="defaultAutoCommit" value="true"/>
        <!-- 是因为mysql默认wait_timeout为8小时，超过后连接池会自动关闭 -->
        <property name="timeBetweenEvictionRunsMillis" value="86400" />
	    <property name="testWhileIdle" value="true" />
	    <property name="validationQuery" value="select 1 from dual" />
	</bean>
	
	<!-- spring整合Mybatis -->  
    <bean id="sqlMapClient" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation">
			<value>classpath:SqlMapConfig.xml</value>
		</property>
		<property name="mapperLocations" value="classpath:mapping/*.xml"></property>
	</bean>
	
	<!-- 指定Mapper文件  -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.web.app.mapper" />
	</bean>

</beans>



