<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.CaseInfoMapper">
	<!-- 案例表 -->
	<resultMap id="BaseResultMap" type="com.web.app.entity.CaseInfo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="brief" property="brief" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="is_delete" property="isDelete" jdbcType="INTEGER" />
		<result column="is_useful" property="isUseful" jdbcType="INTEGER" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
	</resultMap>

	<!-- SQL语句段 -->
	<sql id="base_column_list">
		id,brief,create_date,create_user,description,is_delete,is_useful,remarks,title
	</sql>

	<!-- 添加类别 -->
	<insert id="insertCaseInfo" parameterType="com.web.app.entity.CaseInfo">
		insert into t_case_info(
			id,
			title,
			brief,
			description,
			remarks,
			create_date,
			create_user,
			is_delete,
			is_useful
		)values(
			#{id},
			#{title},
			#{brief},
			#{description},
			#{remarks},
			#{createDate},
			#{createUser},
			#{isDelete},
			#{isUseful}
		)
	</insert>

	<!-- 查询所产品 -->
	<select id="getAllCaseInfo" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="base_column_list" />
		from t_case_info where is_delete = 0 ORDER BY create_date DESC
		<if test="startIndex != null and endIndex != null">
			limit ${startIndex},${endIndex}
		</if>
	</select>

	<!-- 查询产品个数 -->
	<select id="countByCriteria" resultType="java.lang.Integer">
		select count(*) from t_case_info where is_delete = 0
	</select>
	
	<!-- 根据id查询 -->
    <select id="getCaseInfoById" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from t_case_info where id = #{id}
	</select>

	<!-- 根据ID删除 -->
	<update id="deleteCaseInfoById" parameterType="java.lang.String"> 
		update t_case_info set is_delete = 1 where id in <foreach item="id" 
		collection="array" open="(" separator="," close=")"> #{id} </foreach> 
	</update>

	<!-- 根据ID修改 -->
	<!-- <update id="updateCategoryById" parameterType="com.web.app.entity.Category"> 
		update t_category <set> <if test="catName != null" > cat_name = #{catName, 
		jdbcType=VARCHAR}, </if> <if test="depth != null"> depth = #{depth, jdbcType=INTEGER}, 
		</if> <if test="parentId != null"> parent_id = #{parentId, jdbcType=VARCHAR}, 
		</if> <if test="priority != null"> priority = #{priority, jdbcType=INTEGER} 
		</if> </set> where id = #{id, jdbcType=VARCHAR} and is_delete = 0 </update> -->
</mapper>



