<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.OrderInfoMapper">
	<!-- 订单表 -->
	<resultMap id="BaseResultMap" type="com.web.app.entity.OrderInfo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="custom_name" property="customName" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
		<result column="asi" property="asi" jdbcType="VARCHAR" />
		<result column="fax" property="fax" jdbcType="VARCHAR" />
		<result column="target_price" property="targetPrice" jdbcType="DECIMAL" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="is_delete" property="isDelete" jdbcType="INTEGER" />
	</resultMap>
	<!-- SQL语句段 -->
	<sql id="base_column_list">
		id,user_id,company_name,custom_name,email,phone_number,
		asi,fax,target_price,remarks,create_date,status,is_delete
	</sql>
	
	<!-- 添加订单 -->
	<insert id="insertOrderInfo" parameterType="com.web.app.entity.OrderInfo">
		insert into
		t_order_info(
			id,
			user_id,
			company_name,
			custom_name,
			email,
			phone_number,
			asi,
			fax,
			target_price,
			remarks,
			create_date,
			status,
			is_delete
		)values(
			#{id},
			#{userId},
			#{companyName},
			#{customName},
			#{email},
			#{phoneNumber},
			#{asi},
			#{fax},
			#{targetPrice},
			#{remarks},
			#{createDate},
			#{status},
			#{isDelete}
		)
	</insert>

	<!-- 查询所有订单 -->
	<select id="getAllOrderInfo" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="base_column_list" />
			from t_order_info where is_delete = 0
		<if test="userId != null">
        	and user_id = #{userId}
        </if>
        <if test="createDate != null">
        	ORDER BY create_date DESC
        </if>
		<if test="startIndex != null and endIndex != null">
			limit ${startIndex},${endIndex}
		</if>
	</select>

	<!-- 查询产品个数 -->
	<select id="countByCriteria" resultType="java.lang.Integer">
		select count(*) from t_order_info where is_delete = 0
	</select>

	<!-- 根据id查询 -->
	<select id="getOrderInfoById" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="base_column_list" /> from t_order_info where id = #{id}
	</select>

	<!-- 根据ID删除 -->
	<update id="deleteOrderInfoById" parameterType="java.lang.String">
		update t_order_info set is_delete = 1 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")"> 
			#{id} 
		</foreach>
	</update>

	<!-- 根据ID修改 -->
	<update id="updateOrderInfoById" parameterType="com.web.app.entity.OrderInfo">
		update t_order_info
		<set>
			<if test="status != null">
				status = #{status, jdbcType=INTEGER}
			</if>
		</set>
		where id = #{id, jdbcType=VARCHAR} and is_delete = 0
	</update>
</mapper>



