<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.ProductMapper" >
    <!-- 产品表 -->
	<resultMap id="BaseResultMap" type="com.web.app.entity.Product" >
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="product_sn" property="productSn" jdbcType="VARCHAR" />
		<result column="category_id" property="categoryId" jdbcType="VARCHAR" />
		<result column="product_name" property="productName" jdbcType="VARCHAR" />
		<result column="click_count" property="clickCount" jdbcType="INTEGER" />
		<result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
		<result column="product_price" property="productPrice" jdbcType="DECIMAL" />
		<result column="brief" property="brief" jdbcType="VARCHAR" />
		<result column="product_details" property="productDetails" jdbcType="VARCHAR" />
		<result column="is_on_sale" property="isOnSale" jdbcType="INTEGER" />
		<result column="is_not" property="isHot" jdbcType="INTEGER" />
		<result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
		<result column="product_unit" property="productUnit" jdbcType="VARCHAR" />
		<result column="stock" property="stock" jdbcType="INTEGER" />
	    <result column="product_color" property="productColor" jdbcType="VARCHAR" />
	    <result column="product_area" property="productArea" jdbcType="VARCHAR" />
	    <result column="material" property="material" jdbcType="VARCHAR" />
	    <result column="pro_tag" property="proTag" jdbcType="VARCHAR" />
	    <result column="size_l" property="sizeL" jdbcType="INTEGER" />
	    <result column="size_w" property="sizeW" jdbcType="INTEGER" />
	    <result column="size_h" property="sizeH" jdbcType="INTEGER" />
	    <result column="sell_count" property="sellCount" jdbcType="INTEGER" />
	    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
	    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
	    <result column="last_update" property="lastUpdate" jdbcType="VARCHAR" />
	    <result column="product_status" property="productStatus" jdbcType="INTEGER" />
	    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
	    
	    <result column="count_A" property="countA" jdbcType="VARCHAR" />
	    <result column="count_B" property="countB" jdbcType="VARCHAR" />
	    <result column="count_C" property="countC" jdbcType="VARCHAR" />
	    <result column="count_D" property="countD" jdbcType="VARCHAR" />
	    <result column="count_E" property="countE" jdbcType="VARCHAR" />
	    <result column="price_A" property="priceA" jdbcType="VARCHAR" />
	    <result column="price_B" property="priceB" jdbcType="VARCHAR" />
	    <result column="price_C" property="priceC" jdbcType="VARCHAR" />
	    <result column="price_D" property="priceD" jdbcType="VARCHAR" />
	    <result column="price_E" property="priceE" jdbcType="VARCHAR" />
	    <result column="price_includes" property="priceIncludes" jdbcType="VARCHAR" />
	    <result column="shipping_estimate" property="shippingEstimate" jdbcType="VARCHAR" />
	    <result column="imprint_method" property="imprintMethod" jdbcType="VARCHAR" />
	    <result column="imprint_color" property="imprintColor" jdbcType="VARCHAR" />
	    <result column="fullColor_process" property="fullColorProcess" jdbcType="VARCHAR" />
	    <result column="personalization" property="personalization" jdbcType="VARCHAR" />
	    <result column="sold_unimprinted" property="soldUnimprinted" jdbcType="VARCHAR" />
	    <result column="product_proofs" property="productProofs" jdbcType="VARCHAR" />
	    <result column="production_time" property="productionTime" jdbcType="VARCHAR" />
	    <result column="rush_service" property="rushService" jdbcType="VARCHAR" />
	    <result column="fob_point" property="fobPoint" jdbcType="VARCHAR" />
	    <result column="product_weight" property="productWeight" jdbcType="VARCHAR" />
	    <result column="packaging" property="packaging" jdbcType="VARCHAR" />
	</resultMap>
 
	<!-- SQL语句段 -->
	<sql id="base_column_list" >
	  id, brief, category_id ,click_count, create_date, create_user, is_delete, 
	  is_hot, is_on_sale, last_update, market_price, material, pro_tag, product_area, 
	  product_color, product_details, product_name, product_price, product_sn, 
	  product_status, product_unit, sell_count, size_l,size_w,size_h, sort_order, stock,
	  count_A,count_B,count_C,count_D,count_E,price_A,price_B,price_C,price_D,price_E,price_includes,
	  shipping_estimate,imprint_method,imprint_color,fullColor_process,personalization,sold_unimprinted,
	  product_proofs,production_time,rush_service,fob_point,product_weight,packaging
	</sql>
	
	<!-- 添加商品 -->
	<insert id="insertProduct" parameterType="com.web.app.entity.Product">
		insert into t_product(
		   id,
		   brief,
		   category_id,
		   click_count,
		   create_date,
		   create_user,
		   is_delete,
		   is_hot,
		   is_on_sale,
		   last_update,
		   market_price,
		   material,
		   pro_tag,
		   product_area,
		   product_color,
		   product_details,
		   product_name,
		   product_price,
		   product_sn,
		   product_status,
		   product_unit,
		   sell_count,
		   sort_order,
		   size_l,
		   size_w,
		   size_h,
		   stock,
		   count_A,
		   count_B,
		   count_C,
		   count_D,
		   count_E,
		   price_A,
		   price_B,
		   price_C,
		   price_D,
		   price_E,
		   price_includes,
		   shipping_estimate,
		   imprint_method,
		   imprint_color,
		   fullColor_process,
		   personalization,
		   sold_unimprinted,
		   product_proofs,
		   production_time,
		   rush_service,
		   fob_point,
		   product_weight,
		   packaging)
		values(
		   #{id},
		   #{brief},
		   #{categoryId},
		   #{clickCount},
		   #{createDate},
		   #{createUser},
		   #{isDelete},
		   #{isHot},
		   #{isOnSale},
		   #{lastUpdate},
		   #{marketPrice},
		   #{material},
		   #{proTag},
		   #{productArea},
		   #{productColor},
		   #{productDetails},
		   #{productName},
		   #{productPrice},
		   #{productSn},
		   #{productStatus},
		   #{productUnit},
		   #{sellCount},
		   #{sortOrder},
		   #{sizeL},
		   #{sizeW},
		   #{sizeH},
		   #{stock},
		   #{countA},
		   #{countB},
		   #{countC},
		   #{countD},
		   #{countE},
		   #{priceA},
		   #{priceB},
		   #{priceC},
		   #{priceD},
		   #{priceE},
		   #{priceIncludes},
		   #{shippingEstimate},
		   #{imprintMethod},
		   #{imprintColor},
		   #{fullColorProcess},
		   #{personalization},
		   #{soldUnimprinted},
		   #{productProofs},
		   #{productionTime},
		   #{rushService},
		   #{fobPoint},
		   #{productWeight},
		   #{packaging})
	</insert>
	
	<!-- 查询所产品 -->
	<select id="getAllProduct" parameterType="java.util.Map" resultMap="BaseResultMap" >
        select
        <include refid="base_column_list" />
            from t_product where is_delete = 0
        <if test="createDate != null">
        	ORDER BY create_date DESC
        </if>
        <if test="isHot != null">
        	and is_hot = 0
        </if>
        <if test="sellCount != null">
        	ORDER BY sell_count DESC
        </if>
        <if test="priceUp != null">
        	ORDER BY product_price ASC
        </if>
        <if test="priceDown != null">
        	ORDER BY product_price DESC
        </if>
        <if test="categoryId != null">
        	and category_id = #{categoryId}
        </if>
        <if test="productColor != null">
        	and product_color = #{productColor}
        </if>
        <if test="material != null">
        	and material = #{material}
        </if>
        <if test="startIndex != null and endIndex != null">
        	limit ${startIndex},${endIndex}
        </if>
    </select>
    
    <!-- 查询产品个数 -->
    <select id="countByCriteria" resultType="java.lang.Integer">
		select count(*) from t_product where is_delete = 0
	</select>
	
	<!-- 根据id查询 -->
    <select id="getProductById" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from t_product where id = #{id}
	</select>
	
	<!-- 根据ID修改 -->
	<update id="updateProductById" parameterType="com.web.app.entity.Product">
	    update t_product
		<set>
	      <if test="brief != null" >
	        brief = #{brief, jdbcType=VARCHAR},
	      </if>
	      <if test="categoryId != null">
	      	category_id = #{categoryId, jdbcType=VARCHAR},
	      </if>
	      <if test="clickCount != null">
	        click_count = #{clickCount, jdbcType=INTEGER},
	      </if>
	      <if test="createDate != null">
	        create_date = #{createDate, jdbcType=VARCHAR},
	      </if>
	      <if test="createUser != null">
	        create_user = #{createUser, jdbcType=VARCHAR},
	      </if>
	      <if test="isHot != null">
	        is_hot = #{isHot, jdbcType=INTEGER},
	      </if>
	      <if test="isOnSale != null">
	        is_on_sale = #{isOnSale, jdbcType=INTEGER},
	      </if>
	      <if test="lastUpdate != null">
	        last_update = #{lastUpdate, jdbcType=VARCHAR},
	      </if>
	      <if test="marketPrice != null">
	        market_price = #{marketPrice, jdbcType=DECIMAL},
	      </if>
	      <if test="material != null">
	        material = #{material, jdbcType=VARCHAR},
	      </if>
	      <if test="proTag != null">
	        pro_tag = #{proTag, jdbcType=VARCHAR},
	      </if>
	      <if test="productArea != null">
	        product_area = #{productArea, jdbcType=VARCHAR},
	      </if>
		  <if test="productColor != null">
	        product_color = #{productColor, jdbcType=VARCHAR},
	      </if>
	      <if test="productDetails != null">
	        product_details = #{productDetails, jdbcType=VARCHAR},
	      </if>
		  <if test="productName != null">
	        product_name = #{productName, jdbcType=VARCHAR},
	      </if>
		  <if test="productPrice != null">
	        product_price = #{productPrice, jdbcType=DECIMAL},
	      </if>
	      <if test="productSn != null">
	        product_sn = #{productSn, jdbcType=VARCHAR},
	      </if>
		  <if test="productStatus != null">
	        product_status = #{productStatus, jdbcType=INTEGER},
	      </if>
	      <if test="productUnit != null">
	        product_unit = #{productUnit, jdbcType=VARCHAR},
	      </if>
		  <if test="sellCount != null">
	        sell_count = #{sellCount, jdbcType=INTEGER},
	      </if>
		  <if test="sortOrder != null">
	        sort_order = #{sortOrder, jdbcType=INTEGER},
	      </if>
	      <if test="sizeL != null">
	        size_l = #{sizeL, jdbcType=INTEGER},
	      </if>
	      <if test="sizeW != null">
	        size_w = #{sizeW, jdbcType=INTEGER},
	      </if>
	      <if test="sizeH != null">
	        size_h = #{sizeH, jdbcType=INTEGER},
	      </if>
		  <if test="stock != null">
	        stock = #{stock, jdbcType=INTEGER},
	      </if>
	   
	      <if test="countA != null">
	        count_A = #{countA, jdbcType=VARCHAR},
	      </if>
	      <if test="countB != null">
	        count_B = #{countB, jdbcType=VARCHAR},
	      </if>
	      <if test="countC != null">
	        count_C = #{countC, jdbcType=VARCHAR},
	      </if>
	      <if test="countD != null">
	        count_D = #{countD, jdbcType=VARCHAR},
	      </if>
	      <if test="countE != null">
	        count_E = #{countE, jdbcType=VARCHAR},
	      </if>
	      <if test="priceA != null">
	        price_A = #{priceA, jdbcType=VARCHAR},
	      </if>
	      <if test="priceB != null">
	        price_B = #{priceB, jdbcType=VARCHAR},
	      </if>
	      <if test="priceC != null">
	        price_C = #{priceC, jdbcType=VARCHAR},
	      </if>
	      <if test="priceD != null">
	        price_D = #{priceD, jdbcType=VARCHAR},
	      </if>
	      <if test="priceE != null">
	        price_E = #{priceE, jdbcType=VARCHAR},
	      </if>
	      <if test="priceIncludes != null">
	        price_includes = #{priceIncludes, jdbcType=VARCHAR},
	      </if>
	      <if test="shippingEstimate != null">
	        shipping_estimate = #{shippingEstimate, jdbcType=VARCHAR},
	      </if>
	      <if test="imprintMethod != null">
	        imprint_method = #{imprintMethod, jdbcType=VARCHAR},
	      </if>
	      <if test="imprintColor != null">
	        imprint_color = #{imprintColor, jdbcType=VARCHAR},
	      </if>
	      <if test="fullColorProcess != null">
	        fullColor_process = #{fullColorProcess, jdbcType=VARCHAR},
	      </if>
	      <if test="personalization != null">
	        personalization = #{personalization, jdbcType=VARCHAR},
	      </if>
	      <if test="soldUnimprinted != null">
	        sold_unimprinted = #{soldUnimprinted, jdbcType=VARCHAR},
	      </if>
	      <if test="productProofs != null">
	        product_proofs = #{productProofs, jdbcType=VARCHAR},
	      </if>
	      <if test="productionTime != null">
	        production_time = #{productionTime, jdbcType=VARCHAR},
	      </if>
	      <if test="rushService != null">
	        rush_service = #{rushService, jdbcType=VARCHAR},
	      </if>
	      <if test="fobPoint != null">
	        fob_point = #{fobPoint, jdbcType=VARCHAR},
	      </if>
	      <if test="productWeight != null">
	        product_weight = #{productWeight, jdbcType=VARCHAR},
	      </if>
	      <if test="packaging != null">
	        packaging = #{packaging, jdbcType=VARCHAR}
	      </if>
		   
	    </set>
	    where id = #{id, jdbcType=VARCHAR} and is_delete = 0
	</update>
	
	<!-- 根据ID删除 -->
	<update id="deleteProductById" parameterType="java.lang.String">
		update t_product set is_delete = 1 where id in
        <foreach item="idItem" collection="array" open="(" separator="," close=")">
           #{idItem}
        </foreach>
	</update>
	
	<!-- 根据ID修改 -->
	<!-- <update id="updateCategoryById" parameterType="com.web.app.entity.Category">
	    update t_category
		<set>
	      <if test="catName != null" >
	        cat_name = #{catName, jdbcType=VARCHAR},
	      </if>
	      <if test="depth != null">
	      	depth = #{depth, jdbcType=INTEGER},
	      </if>
	      <if test="parentId != null">
	        parent_id = #{parentId, jdbcType=VARCHAR},
	      </if>
	      <if test="priority != null">
	        priority = #{priority, jdbcType=INTEGER}
	      </if>
	    </set>
	    where id = #{id, jdbcType=VARCHAR} and is_delete = 0
	</update> -->
</mapper>



