/* login Responsive design */
@media (max-width: 480px){
    #logo, #loginbox,.explainList {
        width: 80%; 
    } 
	#loginform .loginTxt{
	width:80%;
	height:25px;
	line-height:25px;
	}
	.similarinput .icon-user,.similarinput .icon-lock{
	position:absolute;
	 width:17px;
	 height:17px;
	 background:#f00;
	 left:15px;
	 top:12px;
	 z-index:10000;
	 background: url(../img/glyphicons-halflings-white.png) no-repeat -168px 1px;
	 filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.similarinput .icon-lock{
	 background-position:-287px -24px;
}
}
